#CordialClienteleB{    
    font-family:'Old English Text MT';
    font-size: x-large;
    /* padding: 2px; */
}
#CordialFooter{
    font-family: 'Old English Text MT';
    font-size: x-large;
    text-align: center;
    color: White;
}



