<div class="row">
  <div class="container container-fluid">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <md-card class="CordialClienteleJumbo1">   
    </md-card>
    </div>
  </div> 
</div>
<br/>    
    <!-- <div class="row">
      <div class="container container-fluid">      
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-1">
    <md-card>      
      <md-card-content>
      </md-card-content>
    </md-card>
        </div>
    </div>
  </div> -->
