<div class="row">
  <div class="container container-fluid">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xl-12">
    <md-card>
      <md-card-content>
        <button id="rxjsbtn" class="btn btn-primary" (click)="OnClickRxjs()"> Click </button>
      </md-card-content>
    </md-card>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="container container-fluid">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xl-12">
      <md-card>
        <md-card-content>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>
                Count
              </th>
              <th>
                Note On Count
              </th>
              <th>
                Note On Percent
              </th>
              <th>
                Percentage
              </th>
              <th>
                Race/ethnicity
              </th>
              <th>
                Standard Error on Count
              </th>
              <th>
                Standard Error on Percentage
              </th>
            </tr>
          </thead>
        </table>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>

 