 <div class="row body-content">
  <div class="container container-fluid">
    <div class="col-xl-10 col-lg-10 col-md-10"> 
      <md-card>        
        <md-card-content>
          <form [formGroup]="cordialLoginForms" (ngSubmit)="OnCordialLogin()">
            <div formGroupName="CordialLogin">
            <div class="form-group">
              <label for="Email">Email Address</label>
              <input type="text" id="Email" formControlName="Email" class="form-control"/>
              <span class="help-block" *ngIf="!cordialLoginForms.get('CordialLogin.Email').valid && cordialLoginForms.get('CordialLogin.Email').touched">
                <span *ngIf="cordialLoginForms.get('CordialLogin.Email').errors['required']"> Email is required </span>
              </span>
            </div>
            <div class="form-group">
              <label for="Password"> Password </label>
              <input type="password" id="Password" formControlName="Password" class="form-control"/>
              <span class="help-block" *ngIf="!cordialLoginForms.get('CordialLogin.Password').valid && cordialLoginForms.get('CordialLogin.Password').touched">
                <span *ngIf="cordialLoginForms.get('CordialLogin.Password').errors['required']"> Password is required </span>
              <!-- <span *ngIf="cordialLoginForms.get('CordialLogin.Password').errors['minLength']"> Password must contain at least six characters </span> -->
              </span>
            </div>
            </div>
            <!-- <button class="btn btn-primary form-control"[disabled]="!cordialLoginForms.get('CordialLogin').valid" type="submit">Login</button> -->
            <button kendoButton class="form-control" [disabled]="!cordialLoginForms.get('CordialLogin').valid" type="submit" primary="true">Login </button>
          </form>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>

